@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
}
.spinner-parent{
  display: grid;
  place-items: center;
width: 100%;
height: 100%;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #393E46;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card{

box-shadow: 0 0 2px grey ;

}
.card-title{
  font-size: 22px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.589);
}
.normal-text{
font-size: 1rem;
}
.App-link {
  color: #61dafb;
}
input{
  border-radius: 6px !important;
  border: 1px solid rgba(128, 125, 125, 0.301) !important;
  height: 40px !important;
}
input:focus, .ant-picker{
outline: none !important;
box-shadow: none !important;
border: 1px solid grey !important;

}

.primary-button{
  
  background-color: #00ADB5 !important;
  color: #EEEEEE !important;
  border-color: #EEEEEE !important;
  width: 100% !important;
  height: 40px !important;

}
.primary-button-apply{
  
  background-color: #00ADB5 !important;
  color: #EEEEEE !important;
  border-color: #EEEEEE !important;
  width: 100% !important;
  height: 40px !important;
  width: max-content !important;
}
.primary-button:focus{
  color: #EEEEEE !important;
}
.anchor{
color: #393E46 !important;
font-size: 16px !important;
text-decoration: underline !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.remix-icons{
  font-size: 18px;
}
.page-title{
  font-size: 25px;
  color: #000000c5;
  font-weight: bold;
}


.ant-picker-input input{
  border: none !important;
}

.ant-picker{
  border-radius: 6px !important;
  border: 1px solid rgba(128, 125, 125, 0.301) !important;
  height: 40px !important;
  height: 40px !important;
}
.cursorPointer{
  cursor: pointer;
}